.addproduct{
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
    padding: 40px 50px;
    margin: 8% 0px 0px 30%;
    border-radius: 6px;
    background-color: white;
}

.addproduct-itemfield{
    width: 100%;
    color: #0d4f76;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

.addproduct-itemfield input{
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    border-radius: 6px;
    padding-left:15px;
    margin-top: 5px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #361e1ed4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.addproduct-itemfield textarea{
    padding: 20px;
    font-size: 20px;
    resize: none;
    margin-top: 10px;
    width: 90%;
    border: none;
    background-color: #f6f3f3;
}

.addproduct-price{
    display: flex;
    gap: 40px;
}

.add-selector{
    padding: 15px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;

}


.add-thumb-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
}

.addprod-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #ad8746;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}


@media(max-width:800px){
    .addproduct{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}