.container-page{
    height: 120vh;
    /* background-color: #bf841f; */
    background: linear-gradient(140deg, #82d5ff 20%,#fee9c2 60%);
    margin-bottom: 10%;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    /* border-radius: 25px; */
    /* margin: auto; */
    margin-top: 50px;
    /* margin-bottom: 10%; */
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #fff; */
    /* padding-bottom: 30px; */
    /* padding: 10% 20% ; */

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}
.text{
    color: #505050;
    font-size: 40px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 5px;
    background: #bf841f;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 430px;
    height: 70px;
    background: #dcdcdc;
    border-radius: 6px;
    /* border: 1px solid #676767; */
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 18px;
}
.forgot-paswd{
    /* padding: 50px; */
    margin: 20px auto;
    /* margin-top: 2px; */
    color: #797979;
    font-size: 17px;
}
.forgot-paswd span{
    color: #bf841f;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 20px;
    margin: 20px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 57px;
    color: #fff;
    /* background: #bf841f; */
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    color: #bf841f;
}
.submit:hover{
    background-color: #bf841f;
    color: #eaeaea;
}
.gray{
    /* background: #EAEAEA; */
    color: #6c6c6c;
    margin: auto;
    text-wrap: nowrap;
    font-size: 19px;
    /* display: none; */
}
.gray:hover{
    background-color: #bf841f;
    color: #eaeaea;
}
@media (max-width: 500px) {
    .container{
        width: 350px;
    }
    .text{
        /* width: 90%; */
        font-size: 25px;
    }
    .underline{
        width: 45px;
        height: 4px;
    }
    .input{
        width: 300px;
        height: 50px;
    }
    .input img{
        width: 20px;
    }
    input{
        font-size: 10px;
    }
    input::placeholder{
        font-size: 13px;
    }
    .submit{
        width: 110px;
        height: 50px;
        font-size: 14px;
    }
}