.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black ;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo h3{
    color: rgba(6, 2, 30, 0.926);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 300;
    font-style: bold;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color: azure;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f3f3f3;
    gap:5px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width:80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(255, 133, 67);
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;

}
.nav-login-cart button{
    width: 150px;
    height: 50px;
    outline: none;
    /* border: 1px solid #7a7a7a; */
    border: none;
    border-radius: 75px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background-color: #ff4141;
    /* font-family: 'Times New Roman', Times, serif; */
    cursor: pointer;

}
.nav-login-cart button:hover{
    background-color:  #ff0000;
}

.nav-login-cart button:active{
    background-color: #f3f3f3;
}

.nav-cart-count{
    width:22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}