.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-logo p{
    color: #0d4f76;
    font-size: 46px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footlink{
    display: flex;
    list-style: none;
    gap: 50px;
    color: blueviolet;
    font-size: 20px;
}

.footlink li{
    cursor: pointer;
    color: #0d4f76;
    transition: 0.5s;

}
.footlink li:hover{
    color: #ad8746;
}
.footicon{
    display: flex;
    gap: 20px;

}
.foot-icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    /* transition: 0.5s;
    cursor: pointer; */

}
/* .foot-icon-container img:hover{
    transform: scale(1.9);
} */
.footcopy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #0d4f76;
    font-size: 20px;
}

.footcopy hr{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}